@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(90deg, rgba(255,226,176,1) 0%, rgba(217,174,99,1) 48%, rgba(255,226,176,1) 100%);
}
  
.bg-custom-yellow {
  background: #c7cbf6;

}

.bg-custom-gray{
  background-color: rgb(225, 222, 222);
} 