@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(90deg, rgba(255,226,176,1) 0%, rgba(217,174,99,1) 48%, rgba(255,226,176,1) 100%);
}
  
.bg-custom-yellow {
  background: #e4bf7f;
}

.bg-custom-gray{
  background-color: rgb(225, 222, 222);
} 

.bg-custom-blue{
  background: linear-gradient(90deg, rgba(176,203,255,1) 0%, rgba(99,125,217,1) 48%, rgba(176,194,255,1) 100%);
}

.text-shadow {
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}
